.mobile {
  display: none !important;
}

.navbar .nav-links {
  li a {
    text-transform: uppercase !important;
  }
}

.contact-btn:hover {
  color: white !important;
}

.lottie-container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .animated-button {
    width: 300px;
    min-width: 300px !important;
    white-space: wrap;

    span {
      max-width: 35%;
    }

    .animated-button__icon {
      transform: translateX(-10.5rem) !important;
    }
  }

  .mobile-menu-overlay {
    position: absolute;
    z-index: 99999999999 !important;
  }

  .arrow-icon-wrapper {
    img {
      width: 50% !important;
      height: 50% !important;
    }
  }

  .mobile {
    display: flex !important;
  }

  .desktop {
    display: none !important;
  }

  .hero-mobile {
    margin-top: 90px !important;
    min-height: 80vh !important;
    height: 85vh !important;
    background-color: white !important;
    border-bottom: none !important;

    .hero-mobile-content {
      // margin-top: -100% !important;

      h1 {
        font-family: var(--primary-font) !important;
      }
    }
  }

  .footer {
    .footer-curve {
      background-size: 200%;
    }
  }

  .stats-graph {
    h1 {
      font-size: var(--text-xlarge) !important;
    }

    span {
      font-size: var(--text-medium) !important;
    }
  }

  .navbar .logo img {
    width: 80px;
  }

  .navbar .menu-toggle {
    z-index: 999;
  }

  .navbar .nav-links {
    top: 0px;
    height: 65vh;

    li a {
      text-transform: uppercase !important;
    }
  }

  .hero {
    clip-path: none;

    .description {
      padding-top: 5px;
      font-size: var(--text-medium);
      text-align: center;
    }
  }

  .wide-screen-carousel {
    clip-path: none;
    margin-top: 0px;
    min-height: 80vh;
    overflow: visible !important;

    .button-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .carousel .slides-container {
      display: flex;
    }

    .carousel {
      // margin-top: -100px;
      height: 100% !important;

      .slide {
        padding: 0px;
      }

      .prev {
        left: 30px !important;
      }

      .prev,
      .next {
        top: 10% !important;
        scale: 1 !important;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    .animated-button {
      position: relative;
      bottom: 0px;
      left: 0px;
      z-index: 999 !important;
    }

    .carousel {
      padding: 0px;

      p {
        font-size: var(--text-regular);
      }

      .prev,
      .next {
        scale: 0.5;
        top: 60%;
      }

      .prev {
        left: 0px;
      }

      .next {
        right: 30px;
      }
    }

    .text-content {
      width: 100%;
      margin-left: 0px;

      h2,
      p {
        text-align: center;
      }

      h2 {
        font-size: var(--text-large);
      }
    }

    .image-placeholder {
      display: none;
    }
  }

  .mining-design-carousel {
    // height: 120vh;
    // min-height: 120vh;
    margin-top: 0px;
    .boulder-outside {
      display: none;
    }

    .lottie-container {
      scale: 0.5;
    }

    p {
      font-size: var(--text-medium);
      margin-top: -70px;
    }

    .mining-carousel {
      height: 100vh;

      .prev,
      .next {
        display: flex;
        scale: 0.6;
      }

      .next {
        right: 0px;
        top: 40%;
      }

      .prev {
        left: 0px;
        top: 40%;
      }
    }

    .free-form-text h1 {
      margin-top: 100px;
      font-size: var(--text-large) !important;
    }

    .mining-title {
      padding-bottom: 120px;
    }

    .lottie-container {
      margin-top: -40px;
    }

    .cta-button {
      position: absolute;
      right: unset;
      bottom: 0px !important;
    }
  }

  .services-carousel {
    padding-top: 0vh;
    justify-content: center;
    padding-bottom: 0vh;

    .prev {
      left: 0px;
    }

    .text-content {
      align-items: center;
    }

    h1 {
      text-align: center;
      font-size: var(--text-large);
    }

    h2 {
      text-align: center;
      font-size: var(--text-medium);
    }

    .carousel-container {
      padding: 0px;
      height: 100%;
    }

    .advisory-carousel .slide-icon {
      width: 200px;
      padding-block: 50px;
    }

    .advisory-carousel {
      .prev,
      .next {
        display: flex;
      }
    }

    .cta-button {
      position: relative;
      bottom: unset;
    }
  }

  .testimonials {
    min-height: 100vh !important;
    .boulder-bottom,
    .boulder-top,
    .boulder-right {
      display: none;
    }

    .stats-graph {
      width: 90%;
      border-radius: 60px;
      padding: 20px;
      margin-bottom: 0px;

      .stat-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;

        .stat-item span {
          font-size: var(--text-medium) !important;
          font-weight: normal !important;
        }
      }

      .stat-wrapper > *:last-child:nth-child(2n + 1) {
        justify-self: center;
        align-self: center;
        width: 100%;
        grid-column: 1 / -1;
      }
    }

    .testimonial-carousel {
      padding-top: 10px;

      p {
        font-size: var(--text-small);
      }

      span {
        font-size: var(--text-small);
      }
    }

    .testimonial-carousel .wire {
      top: 60%;
    }

    .testimonial-carousel .name {
      right: 12%;
    }
  }

  .footer {
    border-radius: 0px;
  }
}
